<?xml version="1.0" encoding="utf-8"?>
<!--
Web.config file for Sweet.LoveWinne.WebApiHost.

The settings that can be used in this file are documented at 
http://www.mono-project.com/Config_system.web and 
http://msdn2.microsoft.com/en-us/library/b5ysx397.aspx
-->
<configuration>
  <appSettings configSource="Config\AppSettings.config" />

  <system.web>
    <!-- 
		    Set compilation debug="true" to insert debugging 
		    symbols into the compiled page. Because this 
		    affects performance, set this value to true only 
		    during development.
		-->
    <compilation defaultLanguage="C#" debug="true"></compilation>

    <customErrors mode="RemoteOnly"></customErrors>

    <httpModules>
    	<remove name="AnonymousIdentification" />
    	<remove name="WindowsAuthentication" />
    	<remove name="FormsAuthentication" />
    	<remove name="PassportAuthentication" />
    	<remove name="UrlAuthorization" />
    	<remove name="FileAuthorization" />
    	<remove name="RoleManager" />
    	<remove name="ScriptModule-4.0" />
    </httpModules>

    <trace enabled="true" localOnly="true" pageOutput="true" requestLimit="10" traceMode="SortByTime" mostRecent="true" /> 

    <globalization requestEncoding="utf-8" responseEncoding="utf-8" />
  </system.web>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
</configuration>